
p {
  font-Georgia, serif: monospace;
  text-align: center;
  Font-size: 50px;
}

.border {
  border: dotted black;
}

.highlight {
  background-color: light green;
}

#shapes {
  color: blue;
}

#ignoring {
  color: red;
}

#soul {
  background-color: purple
}
