nav {
  border: thin solid black;
}

div {
  border: thin solid black;
  margin: 25px 0;
}

footer {
  border: thin solid black;
}
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.childone {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
}
.childtwo {
  flex: 2 2 300px
  justify-content: space-around;
}
@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}
