#output1 {
  /* Output starts invisible */
  display: none;
}

#output2 {
  /* Output starts invisible */
  display: none;
}

#output3 {
  /* Output starts invisible */
  display: none;
}

#output4 {
  /* Output starts invisible */
  display: none;
}

#output5 {
  /* Output starts invisible */
  display: none;
}

#adjective-one-output {
  font-weight: bold;
}
#noun-one-output {
  font-weight: bold;
}
#adjective-two-output {
  font-weight: bold;
}
#battlecry-one-output {
  font-weight: bold;
}
#kingdom-one-output {
  font-weight: bold;
}
